version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/requirements"
    target-branch: "development"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "00:00"
      timezone: "Europe/Berlin"
