appdirs==1.4.3
asn1crypto==0.24.0
beautifulsoup4==4.6.0
brotlipy==0.7.0
bs4==0.0.1
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
coverage==4.5.1
cssselect==1.0.3
dj-database-url==0.5.0
Django==2.0.7
django-appconf==1.0.2
django-compressor==2.2
django-markdown-deux==1.0.5
django-sass-processor==0.7
gunicorn==19.9.0
idna==2.7
libsass==0.14.5
lxml==4.2.3
markdown2==2.3.5
multidict==4.3.1
packaging==17.1
parsel==1.5.0
psycopg2-binary==2.7.5
pycparser==2.18
pyparsing==2.2.0
pytz==2018.5
PyYAML==3.13
rcssmin==1.0.6
requests==2.19.1
rjsmin==1.0.12
six==1.11.0
sqlparse==0.2.4
urllib3==1.23
w3lib==1.19.0
whitenoise==3.3.1
