appdirs==1.4.3
asn1crypto==0.22.0
beautifulsoup4==4.6.0
brotlipy==0.6.0
bs4==0.0.1
cffi==1.10.0
coverage==4.4
cssselect==1.0.1
dj-database-url==0.4.2
Django==2.0.3
django-markdown-deux==1.0.5
gunicorn==19.7.1
idna==2.5
lxml==3.7.3
markdown2==2.3.4
multidict==2.1.5
packaging==16.8
parsel==1.2.0
psycopg2==2.7.3.1
pycparser==2.17
pyparsing==2.2.0
pytz==2017.2
PyYAML==3.12
requests==2.14.2
six==1.10.0
sqlparse==0.2.3
w3lib==1.17.0
whitenoise==3.3.0
