appdirs
asn1crypto
beautifulsoup4
brotlipy
bs4
cffi
coverage
cssselect
dj-database-url
Django
django-appconf
django-compressor
django-markdown-deux
django-sass-processor
gunicorn
idna
libsass
lxml
markdown2
multidict
packaging
parsel
psycopg2
pycparser
pyparsing
pytz
PyYAML
rcssmin
requests
rjsmin
six
sqlparse
w3lib
whitenoise
