{% extends "directory/base.html" %}
{% block content %}

<div class="container">
    <div class="row flex-row justify-content-center">
        <div class="col-lg-8 col-lg-offset-2">
            <h1 class="mb-4">
            {% if cipher_suite.insecure %}<span class="text-danger">Insecure</span>
            {% elif cipher_suite.weak %}<span class="text-warning">Weak</span>
            {% elif cipher_suite.secure %}<span class="text-secure">Secure</span>
            {% else %}<span class="text-success">Recommended</span>
            {% endif %}
            Cipher Suite
            </h1>
        </div>
    </div>

    <div class="row flex-row justify-content-center">
        <div class="col-lg-8 col-lg-offset-2">
            <dl class="dl-horizontal">
                <dt><b>IANA name:</b></dt>
                <dd class="long-string">{{ cipher_suite.name }} </dd>
                {% if cipher_suite.openssl_name %}
                    <dt><b>OpenSSL name:</b></dt>
                    <dd class="long-string">{{ cipher_suite.openssl_name }}</dd>
                {% endif %}
                {% if cipher_suite.gnutls_name %}
                    <dt><b>GnuTLS name:</b></dt>
                    <dd class="long-string">{{ cipher_suite.gnutls_name }}</dd>
                {% endif %}
                <dt><b>Hex code:</b></dt>
                <dd>{{ cipher_suite.hex_byte_1 }}, {{ cipher_suite.hex_byte_2 }}</dd>
                <dt><b>TLS Version(s):</b></dt>
                <dd>
                    {% for version in cipher_suite.tls_version.all %}
                        {{ version }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </dd>
                <hr />
                {% for algo in related_tech %}
                <dt><b>{% cycle 'Protocol' 'Key Exchange' 'Authentication' 'Encryption' 'Hash' as atype %}:</b></dt>
                <dd>
                    {% if atype == 'Key Exchange' and cipher_suite.kex_algorithm.pfs_support %}
                        <span class="badge bg-secondary" data-bs-toggle="tooltip" data-bs-placement="left" title="Perfect Forward Secrecy">PFS</span>
                    {% endif %}

                    {% if atype == 'Encryption' and cipher_suite.enc_algorithm.aead_algorithm %}
                        <span class="badge bg-secondary" data-bs-toggle="tooltip" data-bs-placement="left" title="Data Authentication via Authenticated Encryption with Associated Data">AEAD</span>
                    {% endif %}

                    {% if atype == 'Hash' and not algo.short_name == 'NULL' and not cipher_suite.enc_algorithm.aead_algorithm %}
                        <span class="badge bg-secondary" data-bs-toggle="tooltip" data-bs-placement="left" title="Data Authentication via Hash-based Message Authentication Code">HMAC</span>
                    {% endif %}

                    {% if algo.long_name %}
                        {{ algo.long_name }} ({{ algo.short_name }})
                    {% elif algo.short_name %}
                        {{ algo.short_name }}
                    {% else %}
                        -
                    {% endif %}
                </dd>

                    {% for item in algo.vulnerabilities.all %}
                    <p>
                    {% if item.severity == 2 %}
                        <div class="alert alert-danger" role="alert">
                            <i class="bi bi-exclamation-octagon-fill me-1"></i>
                            <strong>{{ item.name }}:</strong> {{ item.formatted_desc|safe }}
                        </div>
                    {% elif item.severity == 1 %}
                        <div class="alert alert-warning" role="alert">
                            <i class="bi bi-exclamation-triangle-fill me-1"></i>
                            <strong>{{ item.name }}:</strong> {{ item.formatted_desc|safe }}
                        </div>
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            <i class="bi bi-info-circle-fill me-1"></i>
                            <strong>{{ item.name }}:</strong> {{ item.formatted_desc|safe }}
                        </div>
                    {% endif %}
                    </p>
                    {% endfor %}
                {% endfor %}
                <hr />
                {% if referring_rfc_list %}
                    <dt><b>Included in RFC:</b></dt>
                    <dd>
                        <ul class="rfclist">
                        {% for rfc in referring_rfc_list %}
                            <li><a href="/rfc/{{ rfc.number }}/">RFC {{ rfc.number }}</a></li>
                        {% endfor %}
                        </ul>
                    </dd>
                {% endif %}

                <dt><b>Machine-readable:</b></dt>
                <dd><a href="/api/cs/{{ cipher_suite.name }}">application/json</a></dd>
            </dl>
        </div>
    </div>
</div>
{% endblock content %}

{% block customjs %}
<script>
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>
{% endblock customjs %}