{% load static sass_tags compress %}
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="author" content="Hans Christian Rudolph"/>
<meta name="description" content=""/>
<title>Cipher Suite Info</title>
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'scss/bootstrap.scss' %}"/>
<link rel="stylesheet" type="text/css" href="{% sass_src 'scss/custom.scss' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/emoji.css' %}"/>
{% endcompress %}