{% load static sass_tags compress %}
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="author" content="Hans Christian Rudolph"/>
<meta name="description" content="A searchable directory of TLS ciphersuites"/>
<title>Ciphersuite Info</title>
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'scss/custom.scss' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-icons.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/emoji.css' %}"/>
{% endcompress %}