{% extends "directory/base.html" %}
{% load add_get_parameter %}
{% block content %}

<div class="container">
{% with params=request.GET.urlencode %}
    <div class="row flex-row justify-content-center">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>RFCs</h1>
        </div><!-- end column -->
        <div class="col-lg-8 col-lg-offset-2">
            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div class="btn-group my-3">
                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% relative_url 'number-asc' 'sorting' params %}">Number ascending</a>
                        <a class="dropdown-item" href="{% relative_url 'number-desc' 'sorting' params %}">Number descending</a>
                        <a class="dropdown-item" href="{% relative_url 'title-asc' 'sorting' params %}">Title ascending</a>
                        <a class="dropdown-item" href="{% relative_url 'title-desc' 'sorting' params %}">Title descending</a>
                    </div>
                </div> <!-- end button group --> 
                <div class="btn-group" role="group" aria-label="...">
                    <a href="{% relative_url 'false' 'singlepage' params %}" class="btn btn-light {% if singlepage != 'true' %}active{% endif %}">Paginated</a>
                    <a href="{% relative_url 'true' 'singlepage' params %}" class="btn btn-light {% if singlepage == 'true' %}active{% endif %}">Single Page</a>
                </div>
            </div>
        </div>
    </div><!-- end row -->

    <div class="row flex-row justify-content-center mb-3">
        <div class="col-lg-8 col-lg-offset-2">
            {% if results %}
                <ul class="prettylist">
                {% for rfc in results %}
                    <li><a href="/rfc/{{ rfc.number }}/">&rsaquo; <b>{{ rfc }}:</b> {{ rfc.title }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No RFCs found.</p>
            {% endif %}
        </div><!-- end column -->
    </div><!-- end row -->

    {% include "directory/pagination.html" %}

{% endwith %}
</div><!-- end container -->

{% endblock content %}
