{% extends "directory/base.html" %}
{% load add_get_parameter %}
{% block content %}

<div class="container">
{% with params=request.GET.urlencode %}
    <div class="row flex-row justify-content-center">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>RFCs</h1>
        </div><!-- end column -->
        <div class="col-lg-8 col-lg-offset-2">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="btn-group my-2">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                        Sort by
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item {% if sorting == 'number-asc' %}active{% endif %}" href="{% relative_url 'number-asc' 'sort' params %}">Number ascending</a></li>
                        <li><a class="dropdown-item {% if sorting == 'number-desc' %}active{% endif %}" href="{% relative_url 'number-desc' 'sort' params %}">Number descending</a></li>
                        <li><a class="dropdown-item {% if sorting == 'title-asc' %}active{% endif %}" href="{% relative_url 'title-asc' 'sort' params %}">Title ascending</a></li>
                        <li><a class="dropdown-item {% if sorting == 'title-desc' %}active{% endif %}" href="{% relative_url 'title-desc' 'sort' params %}">Title descending</a></li>
                    </ul>
                </div> <!-- end button group -->
                <div class="btn-group my-2">
                    <a href="{% relative_url 'false' 'singlepage' params %}" class="btn btn-outline-secondary {% if singlepage != 'true' %}active{% endif %}">Paginated</a>
                    <a href="{% relative_url 'true' 'singlepage' params %}" class="btn btn-outline-secondary {% if singlepage == 'true' %}active{% endif %}">Single Page</a>
                </div>
            </div>
        </div>
    </div><!-- end row -->

    <div class="row flex-row justify-content-center mb-3">
        <div class="col-lg-8 col-lg-offset-2">
            {% if results %}
                <ul class="prettylist">
                {% for rfc in results %}
                    <li><a href="/rfc/{{ rfc.number }}/">&rsaquo; <b>{{ rfc }}:</b> {{ rfc.title }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No RFCs found.</p>
            {% endif %}
        </div><!-- end column -->
    </div><!-- end row -->

    {% include "directory/pagination.html" %}

{% endwith %}
</div><!-- end container -->

{% endblock content %}
