{% extends "directory/base.html" %}
{% load add_get_parameter %}
{% block content %}

<div class="container">
{% with params=request.GET.urlencode %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Cipher Suites
            <div class="btn-group inline-button">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a {% if sorting == 'name-asc' or sorting == '' %}class="active"{% endif %} href="{% relative_url 'all' 'sorting' params %}">Name ascending</a></li>
                    <li><a {% if sorting == 'name-desc' %}class="active"{% endif %} href="{% relative_url 'name-desc' 'sorting' params %}">Name descending</a></li>
                    <li><a {% if sorting == 'kex-asc' %}class="active"{% endif %} href="{% relative_url 'kex-asc' 'sorting' params %}">Key Exchange ascending</a></li>
                    <li><a {% if sorting == 'kex-desc' %}class="active"{% endif %} href="{% relative_url 'kex-desc' 'sorting' params %}">Key Exchange descending</a></li>
                    <li><a {% if sorting == 'auth-asc' %}class="active"{% endif %} href="{% relative_url 'auth-asc' 'sorting' params %}">Authentication ascending</a></li>
                    <li><a {% if sorting == 'auth-desc' %}class="active"{% endif %} href="{% relative_url 'auth-desc' 'sorting' params %}">Authentication descending</a></li>
                    <li><a {% if sorting == 'enc-asc' %}class="active"{% endif %} href="{% relative_url 'enc-asc' 'sorting' params %}">Encryption ascending</a></li>
                    <li><a {% if sorting == 'enc-desc' %}class="active"{% endif %} href="{% relative_url 'enc-desc' 'sorting' params %}">Encryption descending</a></li>
                    <li><a {% if sorting == 'hash-asc' %}class="active"{% endif %} href="{% relative_url 'hash-asc' 'sorting' params %}">Hash ascending</a></li>
                    <li><a {% if sorting == 'hash-desc' %}class="active"{% endif %} href="{% relative_url 'hash-desc' 'sorting' params %}">Hash descending</a></li>
                </ul>
            </div><!-- end button group -->

            <div class="btn-group inline-button">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a {% if filter == '' %}class="active"{% endif %} href="?f=all{% if sorting %}&s={{ sorting }}{% endif %}">All</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a {% if filter == 'secure' %}class="active"{% endif %} href="?f=secure{% if sorting %}&s={{ sorting }}{% endif %}">Secure</a></li>
                    <li><a {% if filter == 'weak' %}class="active"{% endif %} href="?f=weak{% if sorting %}&s={{ sorting }}{% endif %}">Weak</a></li>
                    <li><a {% if filter == 'insecure' %}class="active"{% endif %} href="?f=insecure{% if sorting %}&s={{ sorting }}{% endif %}">Insecure</a></li>
                </ul>
            </div><!-- end button group -->
            </h1>
        </div><!-- end column -->
    </div><!-- end row -->

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
        {% if cipher_suites %}
            <ul class="prettylist">
                {% for cipher_suite in cipher_suites %}
                <li><a class="long-string" href="/cs/{{ cipher_suite.name }}/">
                    {% if cipher_suite.high_vulnerability %}<span class="label label-fixed-width label-danger">Insecure</span>
                    {% elif cipher_suite.medium_vulnerability %}<span class="label label-fixed-width label-warning">Weak</span>
                    {% else %}<span class="label label-fixed-width label-success">Secure</span>
                    {% endif %}
                {{ cipher_suite.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No cipher suites found.</p>
        {% endif %}
        </div><!-- end column -->
    </div><!-- end row -->

    <div class="row">
        <div class="col-md-8 col-md-offset-2" align="center">
            <div class="pagination">
                <span class="step-links">
                    <nav aria-label="...">
                        <ul class="pagination">

                        <!-- First and previous links -->
                        {% if cipher_suites.has_previous %}
                        <li class="first"><a href="{% relative_url '1' 'page' params %}">
                                <span aria-hidden="true">&laquo;</span>
                            </a></li>
                            <li class="previous"><a href="{% relative_url cipher_suites.previous_page_number 'page' params %}">
                                <span aria-hidden="true">&lsaquo;</span>
                            </a></li>
                        {% else %}
                            <li class="first disabled"><a href="#">
                                <span aria-hidden="true">&laquo;</span>
                            </a></li>
                            <li class="previous disabled"><a href="#" aria-label="Previous">
                                <span aria-hidden="true">&lsaquo;</span>
                            </a></li>
                        {% endif %}

                        <!-- Current page numbers -->
                        {% for page in page_number_range %}
                            <!-- active case -->
                            {% if page == cipher_suites.number %}
                                <li class="active"><a href="{% relative_url page 'page' params %}">{{ page }} <span class="sr-only">(current)</span></a></li>
                            {% elif page > 5 and page > cipher_suites.number|add:"+2" %}
                            {% elif page < cipher_suites.paginator.num_pages|add:"-4" and page < cipher_suites.number|add:"-2" %}
                            {% else %}
                                <li><a href="{% relative_url page 'page' params %}">{{ page }} </a></li>
                            {% endif %}
                        {% endfor %}

                        <!-- Next and last links -->
                        {% if cipher_suites.has_next %}
                            <li class="next"><a href="{% relative_url cipher_suites.next_page_number 'page' params %}">
                                <span aria-hidden="true">&rsaquo;</span>
                            </a></li>
                            <li class="last"><a href="{% relative_url cipher_suites.paginator.num_pages 'page' params %}">
                                <span aria-hidden="true">&raquo;</span>
                            </a></li>
                        {% else %}
                            <li class="next disabled"><a href="#">
                                <span aria-hidden="true">&rsaquo;</span>
                            </a></li>
                            <li class="last disabled"><a href="#">
                                <span aria-hidden="true">&raquo;</span>
                            </a></li>
                        {% endif %}

                        </ul>
                    </nav>
                </span>
            </div><!-- end pagination -->
        </div><!-- end column -->
    </div><!-- end row -->
{% endwith %}
</div><!-- end container -->

{% endblock content %}
