{% extends "directory/base.html" %}
{% block content %}

<div class="container">
    <div class="row flex-row justify-content-center">
        <div class="col-lg-8 col-md-offset-2 mb-4">
            <h1 class="title-heading centered-text">TLS Cipher Suite Search</h1>
        </div><!-- end column -->

        <div class="col-lg-8 col-md-offset-2">
            <div id="custom-search-input">
                <form class="form-group input-group input-group-lg" action="/search?q={{ search_form.get_search_term }}" method="get">
                    {{ search_form }}
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-lg" type="submit">
                            <svg viewBox="0 0 16 16" class="bi bi-search" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                            </svg>
                        </button>
                    </div>
                </form>
            </div><!-- end end input -->
        </div><!-- end column -->

        <div class="col-lg-8 col-md-offset-2">
            <div class="alert alert-info help-text centered-text" role="alert">
                <svg viewBox="0 0 16 16" class="bi bi-info-circle-fill" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg>
                Search for a particular cipher suite by using IANA, OpenSSL or GnuTLS name format, e.g. "<a class="long-string" href="/search/?q=TLS_DHE_DSS_WITH_AES_256_CBC_SHA256">TLS_DHE_DSS_WITH_AES_256_CBC_SHA256</a>", "<a class="long-string" href="/search/?q=DHE-DSS-AES256-SHA256">DHE-DSS-AES256-SHA256</a>" or "<a class="long-string" href="/search/?q=TLS_DHE_DSS_AES_256_CBC_SHA256">TLS_DHE_DSS_AES_256_CBC_SHA256</a>".
            </div>
        </div>
    </div><!-- end row -->
</div><!-- end container -->

{% endblock content %}
