{% extends "directory/base.html" %}
{% load add_get_parameter %}
{% block content %}

<div class="container">
{% with params=request.GET.urlencode %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>RFCs</h1>
            <p>
            <div class="btn-group inline-button">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{% relative_url 'number-asc' 'sorting' params %}">Number ascending</a></li>
                    <li><a href="{% relative_url 'number-desc' 'sorting' params %}">Number descending</a></li>
                    <li><a href="{% relative_url 'title-asc' 'sorting' params %}">Title ascending</a></li>
                    <li><a href="{% relative_url 'title-desc' 'sorting' params %}">Title descending</a></li>
                </ul>
            </div> <!-- end button group --> 
            </p>
        </div><!-- end column -->
    </div><!-- end row -->

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% if results %}
                <ul class="prettylist">
                {% for rfc in results %}
                    <li><a href="/rfc/{{ rfc.number }}/">&rsaquo; <b>{{ rfc }}:</b> {{ rfc.title }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No RFCs found.</p>
            {% endif %}
        </div><!-- end column -->
    </div><!-- end row -->

    {% include "directory/pagination.html" %}

{% endwith %}
</div><!-- end container -->

{% endblock content %}
