{% extends "directory/base.html" %}
{% load add_get_parameter %}
{% block content %}

<div class="container">
{% with params=request.GET.urlencode %}
    <div class="row flex-row justify-content-center">
        <div class="col-lg-8 col-lg-offset-2">
                <h1>{{ count }} Cipher Suites</h1>
        </div><!-- end column -->
        <div class="col-lg-8 col-xl-offset-2">
            {% include "directory/list_filters.html" %}
        </div><!-- end column -->
    </div><!-- end row -->

    <div class="row flex-row justify-content-center mb-3">
        <div class="col-lg-8 col-lg-offset-2">
        {% if results %}
            <ul class="prettylist">
                {% for cipher_suite in results %}
                <li><a class="long-string" href="/cs/{{ cipher_suite.name }}/">
                    {% if cipher_suite.insecure %}<span class="badge bg-fixed-width bg-danger">Insecure</span>
                    {% elif cipher_suite.weak %}<span class="badge bg-fixed-width bg-warning">Weak</span>
                    {% elif cipher_suite.secure %}<span class="badge bg-fixed-width bg-secure">Secure</span>
                    {% else %}<span class="badge bg-fixed-width bg-success">Recommended</span>
                    {% endif %}
                    {{ cipher_suite.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No cipher suites found.</p>
        {% endif %}
        </div><!-- end column -->
    </div><!-- end row -->

    {% include "directory/pagination.html" %}

{% endwith %}
</div><!-- end container -->

{% endblock content %}
