{% extends "directory/base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-8 col-md-offset-2" align="center">
        <h1 class="title-heading">Search this site</h1>
        <div id="custom-search-input">
            <form class="input-group" action="/search?q={{ search_form.get_search_term }}" method="get">

                {{ search_form }}

                <span class="input-group-btn">
                    <button class="btn btn-custom btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </form>
        </div><!-- end end input -->
    </div><!-- end column -->
    <div class="col-md-6 col-md-offset-3" align="center">
        <div class="alert alert-info help-text" role="alert">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Search for a particular cipher suite by using IANA, OpenSSL or GnuTLS name format, e.g. "<a href="/search/?q=TLS_DHE_DSS_WITH_AES_256_CBC_SHA256">TLS_DHE_DSS_WITH_AES_256_CBC_SHA256</a>", "<a href="/search/?q=DHE-DSS-AES256-SHA256">DHE-DSS-AES256-SHA256</a>" or "<a href="/search/?q=TLS_DHE_DSS_AES_256_CBC_SHA256">TLS_DHE_DSS_AES_256_CBC_SHA256</a>".
        </div>
    </div><!-- end column -->
</div><!-- end row -->

{% endblock content %}
