{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" height="25"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavigation">
        <ul class="navbar-nav me-auto">
                <li class="nav-item {% if navbar_context == 'cs' %}active{% endif %}">
                    <a class="nav-link" href="/cs/">
                        <i class="bi bi-lock-fill me-1"></i>
                        Cipher Suites
                    </a>
                </li>
                <li class="nav-item {% if navbar_context == 'rfc' %}active{% endif %}">
                    <a class="nav-link" href="/rfc/">
                        <i class="bi bi-file-earmark-lock2-fill me-1"></i>
                        RFCs
                    </a>
                </li>
                <li class="nav-item {% if navbar_context == 'blog' %}active{% endif %}">
                    <a class="nav-link" href="/blog/">
                        <i class="bi bi-newspaper me-1"></i>
                        News
                    </a>
                </li>
                {% for page in static_pages %}
                    <li class="nav-item {% if navbar_context == page.title %}active{% endif %}">
                        <a class="nav-link" href="/page/{{ page|lower }}/">
                            {% if page.icon %}<i class="bi bi-{{ page.icon }}"></i>{% endif %}
                            {{ page|title }}
                        </a>
                    </li>
                {% endfor %}
        </ul>
        {% if not hide_navbar_search %}
            <form class="form-inline my-2 my-md-0" action="/search?q={{ search_form.get_search_term }}" method="get">
                <div class="form-group input-group">
                    {{ search_form }}
                    <button class="btn btn-primary" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        {% endif %}
    </div>
</nav>