{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><img src=" {% static 'img/logo.png' %}" height="25"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if navbar_context == 'cs' %}active{% endif %}">
                    <a class="nav-link" href="/cs/">
                        <i class="fas fa-lock"></i> Cipher Suites
                    </a>
                </li>
                <li class="nav-item {% if navbar_context == 'rfc' %}active{% endif %}">
                    <a class="nav-link" href="/rfc/">
                        <i class="fas fa-file"></i> RFCs
                    </a>
                </li>
                <li class="nav-item {% if navbar_context == 'blog' %}active{% endif %}">
                    <a class="nav-link" href="/blog/">
                        <i class="fas fa-bullhorn"></i> Blog
                    </a>
                </li>
                {% for page in static_pages %}
                    <li class="nav-item {% if navbar_context == page.title %}active{% endif %}">
                        <a class="nav-link" href="/page/{{ page|lower }}/">
                            {% if page.glyphicon %}<i class="fas fa-{{ page.glyphicon }}"></i>{% endif %}
                            {{ page|title }}
                        </a>
                    </li>
                {% endfor %}
        </ul>
        {% if not hide_navbar_search %}
            <form class="form-inline my-2 my-md-0" action="/search?q={{ search_form.get_search_term }}" method="get">
                <div class="form-group input-group">

                    {{ search_form }}

                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
</nav>