{% load static %}
<div class="row">
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">

            <!-- Title and collapse button -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src=" {% static 'img/logo.png' %}" height="20px"/></a>
            </div>

            <!-- Menu items -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li {% if navbar_context == "cs" %}class="active"{% endif %}>
                        <a href="/cs/">
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Cipher Suites
                        </a>
                    </li>
                    <li {% if navbar_context == "rfc" %}class="active"{% endif %}>
                        <a href="/rfc/">
                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span> RFCs
                        </a>
                    </li>
                    <li {% if navbar_context == "blog" %}class="active"{% endif %}>
                        <a href="/blog/">
                            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Blog
                        </a>
                    </li>
                    {% for page in static_pages %}
                        <li {% if navbar_context == page.title %}class="active"{% endif %}>
                            <a href="/page/{{ page|lower }}/">
                                {% if page.glyphicon %}<span class="glyphicon {{ page.glyphicon }}" aria-hidden="true"></span>{% endif %}
                                {{ page|title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                {% if not hide_navbar_search %}
                    <form class="navbar-form navbar-right" action="/search?q={{ search_form.get_search_term }}" method="get">
                        <div class="form-group input-group">

                            {{ search_form }}

                            <span class="input-group-btn">
                                <button class="btn btn-custom" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>
                    </form>
                {% endif %}
            </div> <!-- end menu items -->

        </div> <!-- end container -->
    </nav> <!-- end navbar -->
</div> <!-- end row -->
