{% load add_get_parameter %}
{% with params=request.GET.urlencode %}

<div class="row justify-content-center">
    <div class="flex-col col-lg-8 col-lg-offset-2 mb-3">
        <div class="pagination justify-content-center">
            <span class="step-links">
                <nav aria-label="...">
                    <ul class="pagination">

                    <!-- First and previous links -->
                    {% if results.has_previous %}
                    <li class="page-item first">
                        <a class="page-link" href="{% relative_url '1' 'page' params %}">
                            <span aria-hidden="true">&laquo;</span>
                        </a></li>
                        <li class="page-item previous">
                            <a class="page-link" href="{% relative_url results.previous_page_number 'page' params %}">
                            <span aria-hidden="true">&lsaquo;</span>
                        </a></li>
                    {% else %}
                        <li class="page-item first disabled">
                            <a class="page-link" href="#">
                            <span aria-hidden="true">&laquo;</span>
                        </a></li>
                        <li class="page-item previous disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&lsaquo;</span>
                        </a></li>
                    {% endif %}

                    <!-- Current page numbers -->
                    {% for page in page_number_range %}
                        <!-- active case -->
                        {% if page == results.number %}
                            <li class="page-item active">
                                <a class="page-link" href="{% relative_url page 'page' params %}">{{ page }}</a>
                            </li>
                        {% elif page > 5 and page > results.number|add:"+2" %}
                        {% elif page < results.paginator.num_pages|add:"-4" and page < results.number|add:"-2" %}
                        {% else %}
                            <li>
                                <a class="page-link" href="{% relative_url page 'page' params %}">{{ page }} </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    <!-- Next and last links -->
                    {% if results.has_next %}
                        <li class="page-item next">
                            <a class="page-link" href="{% relative_url results.next_page_number 'page' params %}">
                            <span aria-hidden="true">&rsaquo;</span>
                        </a></li>
                        <li class="page-item last">
                            <a class="page-link" href="{% relative_url results.paginator.num_pages 'page' params %}">
                            <span aria-hidden="true">&raquo;</span>
                        </a></li>
                    {% else %}
                        <li class="page-item next disabled">
                            <a class="page-link" href="#">
                            <span aria-hidden="true">&rsaquo;</span>
                        </a></li>
                        <li class="page-item last disabled">
                            <a class="page-link" href="#">
                            <span aria-hidden="true">&raquo;</span>
                        </a></li>
                    {% endif %}

                    </ul>
                </nav>
            </span>
        </div><!-- end pagination -->
    </div><!-- end column -->
</div><!-- end row -->
{% endwith %}