@import 'mixins';

$background:        #ffffff;
$background-alt:    #eeeeee;
$default-font:      'Open Sans Regular', sans-serif;
$heading-bold:      'Roboto Bold', sans-serif;
$heading-semibold:  'Roboto Medium', sans-serif;
$primary-color:     #34495e;
$primary-light:     brighten(#34495e, 10);
$primary-dark:      darken(#34495e, 10);
$button-color:      #f39c12;
$button-dark:       darken(#f39c12, 10);

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: $default-font;
    margin-bottom: 50px;
}

body > .container {
    padding: 100px 15px 0px;
}

h1,
h2,
h3,
h4 {
    font-family: $heading-bold;
}

a {
    color: $primary-color;
}

a:hover {
    color: $primary-light;
}

::selection {
    background: $primary-color;
    color: #ffffff;
}

::-moz-selection {
    background: $primary-color;
    color: #ffffff;
}

.centered-block {
    @include margin-horizontal(auto);
}

.centered-text {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.small {
    font-size: .8em;
}

.light {
    filter: brightness(120%);
}

.dark {
    filter: brightness(80%);
}

.post-intro {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

.title-heading {
    font-size: 4em;
    margin-top: 20%;
    margin-bottom: 7.5%;
}

.borderless table,
.borderless td,
.borderless th {
    border: none !important;
}

* {
    @include border-radius(0px !important);
}

.rfclist {
    padding: 0px;
}

.rfclist li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.prettylist {
    margin-top: 30px;
    padding: 0px;
}

.prettylist li:nth-child(even) {
    background: $background;
}

.prettylist li:nth-child(odd) {
    background: $background-alt;
}

.prettylist li {
    list-style-type: none;
    font-size: 1.05em;
}

.prettylist li:hover {
    background: #c9d5e1;
}

.prettylist li a {
    display: block;
    text-decoration: none;
    @include padding-vertical(10px);
    @include padding-horizontal(15px);
}

.minimallist {
    padding: 0px;
    margin-left: 14px;
}

.minimallist li {
    padding-bottom: 5px;
    list-style-type: circle;
    font-size: 1.05em;
}

dt {
    text-align: left !important;
    font-family: $heading-semibold;
}

dt,
dd {
    padding-bottom: 5px;
}

.label-recommended {
    background: #009a00;
}
  

/* Sticky footer styles
-------------------------------------------------- */

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: $background-alt;
}

.container .text-muted {
    margin: 15px 0px;
}

.footer > .container {
    @include padding-horizontal(15px);
}

code {
    font-size: 80%;
}

/* Navbar customization
-------------------------------------------------- */

.navbar-inverse { background-color: $primary-color}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: $primary-dark}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: $primary-dark}
.dropdown-menu { background-color: #ECF0F1}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: $primary-color}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: $primary-dark}
.navbar-inverse .navbar-brand { color: #EEEEEE}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #BBBBBB}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: $primary-color}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #fff}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #BBBBBB}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #BBBBBB}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}

.btn-custom {
    color: #FFFFFF;
    background-color: $button-color;
    border-color: $button-dark;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
    color: #FFFFFF;
    background-color: $button-dark;
    border-color: #d35400;
}

.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
    background-image: none;
}

.btn-custom.disabled,
.btn-custom[disabled],
fieldset[disabled] .btn-custom,
.btn-custom.disabled:hover,
.btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom:hover,
.btn-custom.disabled:focus,
.btn-custom[disabled]:focus,
fieldset[disabled] .btn-custom:focus,
.btn-custom.disabled:active,
.btn-custom[disabled]:active,
fieldset[disabled] .btn-custom:active,
.btn-custom.disabled.active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom.active {
    background-color: $button-color;
    border-color: #117964;
}

.btn-custom .badge {
    color: $button-color;
    background-color: #FFFFFF;
    border-color: #c0392b;
}

.navbar-inverse .navbar-toggle {
    background: #333;
    border-color: #11181f;
}

.navbar-inverse .navbar-toggle:hover {
    background: #11181f;
    border-color: #11181f;
}

.navbar-inverse .navbar-toggle:focus {
    background: #11181f;
    border-color: #11181f;
}

.form-control:focus {
    border-color: $button-dark;
    box-shadow: none;
}

.pagination > li > a {
    color: #888;
}

.pagination > li > a:hover {
    color: #444;
}

.pagination > li.active > a {
    background: $button-color;
    border-color: $button-dark;
}

.pagination > .active > a:hover,
.pagination > .active > a:active,
.pagination > .active > a:focus {
    background: $button-dark;
    border-color: #d35400;
}

.help-text {
    margin-top: 5%;
    background-color: #eee;
    border-color: #b9b9b9;
    color: #555;
}

.label-fixed-width {
    display: inline-block;
    min-width: 65px;
}

p.tags-label {
    margin: 0px 10px 0px 0px;
    padding: 0px;
    float: left;
}

ul.tag-list {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

ul.tag-list li {
    margin: 0px 10px 0px 0px;
    padding: 0px;
    list-style-type: none;
    float: left;
}

ul.tag-list li a {
    float: left;
    text-decoration: none;
}

ul.post-list {
    margin: 0px;
    padding: 0px;
}

ul.post-list li {
    list-style-type: none;
    margin: 30px 0px 10px 0px;
}

ul.post-list li a {
    display: block;
    text-decoration: none;
    border: 1px solid #eee;
}

ul.post-list li a:hover {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #eee;
}

ul.post-list p.recent-post-title {
    display: block;
    background: #eee;
    padding: 10px 20px 10px 20px;
    font-size: 1.3em;
}

ul.post-list p.post-intro-preview {
    display: block;
    padding: 5px 20px 10px 20px;
    background: #fff;
    margin: 5px 0px;
}

ul.dropdown-menu li a.active {
    background: #c9d5e1;
}
