@font-face {
    font-family: 'Open Sans Regular';
    src: url('/static/fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('/static/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('/static/fonts/Roboto/Roboto-Bold.ttf');
}