{% extends "directory/base.html" %}
{% block content %}

<div class="container">
    <div class="row flex-row justify-content-center">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>Recent Posts</h1>
        </div><!-- end column -->
        <div class="col-lg-8 col-lg-offset-2">
            <ul class="post-list">
            {% for post in posts %}
            <li><a href="/blog/{{ post.first_published|date:"Y" }}/{{ post.first_published|date:"m" }}/{{ post.first_published|date:"d" }}/{{ post.slug }}">
                <p class="recent-post-title"><span class="small light">{{ post.first_published|date:"Y-m-d" }}</span> <span class="bold">{{ post }}</span></p>
                <p class="post-intro-preview">{{ post.intro }}</p>
            </a></li>
            {% endfor %}
            </ul>
        </div><!-- end column -->
    </div><!-- end row -->
</div>

{% endblock content %}
