{% extends "directory/base.html" %}
{% load markdown_deux_tags %}
{% block content %}

<div class="container">
    <div class="row flex-row justify-content-center">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>{{ post.title }}</h1>
            <p>
                posted by <a href="/blog/authors/{{ post.author }}">{{ post.author }}</a>
                {% if post.category %}in <a href="/blog/categories/{{ post.category.slug }}">"{{ post.category }}"</a>{% endif %}
                on {{ post.first_published|date:"Y-m-d" }}
            </p>
        </div><!-- end column -->
    </div>

    <div class="row flex-row justify-content-center">
        <div class="col-lg-8 col-lg-offset-2">
            <p class="post-intro">{{ post.intro }}</p>
        </div><!-- end column -->
    </div>

    <div class="row flex-row justify-content-center">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="post-content">{{ post.text|markdown:"trusted" }}</div>
        </div><!-- end column -->
    </div>

    {% if post.tags.all %}
    <div class="row flex-row justify-content-center">
        <div class="col-lg-8 col-lg-offset-2">
            <hr />
            <p class="tags-label">Tags:</p>
                <ul class="tag-list">
                    {% for tag in post.tags.all %}
                    <li><a href="/blog/tags/{{ tag.slug }}"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> {{ tag|lower }}</a></li>
                    {% endfor %}
                </ul>
            </p>
        </div><!-- end column -->
    </div>
    {% endif %}
</div>

{% endblock content %}
