{% extends "directory/base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>{{ tag_list|length }} {% if tag_list|length == 1 %}tag{% else %}tags{% endif %}</h1>
        </div><!-- end column -->
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <ul>
            {% for tag in tag_list %}
            <li>
                <a href="/blog/tags/{{ tag.slug }}">{{ tag }}</a>
            </li>
            {% endfor %}
            </ul>
        </div><!-- end column -->
    </div>
</div>

{% endblock content %}
