@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

@mixin brighten($color, $percentage) {
    color: $color;
    filter: brightness(100+$percentage);
}

@mixin darken($color, $percentage) {
    color: $color;
    filter: brightness(100-$percentage);
}

@mixin margin-horizontal($amount) {
    margin-left: $amount;
    margin-right: $amount;
}

@mixin margin-vertical($amount) {
    margin-top: $amount;
    margin-bottom: $amount;
}

@mixin padding-horizontal($amount) {
    padding-left: $amount;
    padding-right: $amount;
}

@mixin padding-vertical($amount) {
    padding-top: $amount;
    padding-bottom: $amount;
}