body {
    font-family: 'Open Sans', sans-serif;
}

body > .container {
  padding: 75px 15px 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

a {
    color: #34495e;
}

a:hover {
    color: #46637f;
}

::selection {
    background: #34495e;
    color: #ffffff;
}

::-moz-selection {
    background: #34495e;
    color: #ffffff;
}

.centered-block {
    margin-left: auto;
    margin-right: auto;
}

.centered-text {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.small {
    font-size: .8em;
}

.light {
    filter: brightness(120%);
}

.dark {
    filter: brightness(80%);
}

.post-intro {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

.title-heading {
    font-size: 4em;
    margin-top: 20%;
    margin-bottom: 7.5%;
}

.borderless table,
.borderless td,
.borderless th {
    border: none !important;
}

* {
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
}

.rfclist {
    padding: 0;
}

.rfclist li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.prettylist {
    margin-top: 30px;
    padding: 0px;
}

.prettylist li:nth-child(even) {
    background: #ffffff;;
}

.prettylist li:nth-child(odd) {
    background: #eeeeee;
}

.prettylist li {
    list-style-type: none;
    font-size: 1.05em;
}

.prettylist li:hover {
    background: #c9d5e1;
}

.prettylist li a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

.minimallist {
    padding: 0px;
    margin-left: 14px;
}

.minimallist li {
    padding-bottom: 5px;
    list-style-type: circle;
    font-size: 1.05em;
}

dt {
    text-align: left !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

dt,
dd {
    padding-bottom: 5px;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Navbar customization
-------------------------------------------------- */

.navbar-inverse { background-color: #34495E}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #4F6F8F}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #2C3E50}
.dropdown-menu { background-color: #ECF0F1}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #4F6F8F}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #2C3E50}
.navbar-inverse .navbar-brand { color: #EEEEEE}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #BBBBBB}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #2C3E50}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #BBBBBB}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #BBBBBB}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}

.btn-custom { 
    color: #FFFFFF; 
    background-color: #f39c12; 
    border-color: #e67e22; 
} 
 
.btn-custom:hover, 
.btn-custom:focus, 
.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
    color: #FFFFFF; 
    background-color: #e67e22; 
    border-color: #d35400; 
} 
 
.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
    background-image: none; 
} 
 
.btn-custom.disabled, 
.btn-custom[disabled], 
fieldset[disabled] .btn-custom, 
.btn-custom.disabled:hover, 
.btn-custom[disabled]:hover, 
fieldset[disabled] .btn-custom:hover, 
.btn-custom.disabled:focus, 
.btn-custom[disabled]:focus, 
fieldset[disabled] .btn-custom:focus, 
.btn-custom.disabled:active, 
.btn-custom[disabled]:active, 
fieldset[disabled] .btn-custom:active, 
.btn-custom.disabled.active, 
.btn-custom[disabled].active, 
fieldset[disabled] .btn-custom.active { 
    background-color: #f39c12; 
    border-color: #117964; 
} 
 
.btn-custom .badge { 
    color: #f39c12; 
    background-color: #FFFFFF; 
    border-color: #c0392b;
}

.navbar-inverse .navbar-toggle {
    background: #333;
    border-color: #11181f;
}

.navbar-inverse .navbar-toggle:hover {
    background: #11181f;
    border-color: #11181f;
}

.navbar-inverse .navbar-toggle:focus {
    background: #11181f;
    border-color: #11181f;
}

.form-control:focus {
    border-color: #e67e22;
    box-shadow: none;
}

.pagination > li > a {
    color: #888;
}

.pagination > li > a:hover {
    color: #444;
}

.pagination > li.active > a {
    background: #f39c12;
    border-color: #e67e22;
}

.pagination > .active > a:hover,
.pagination > .active > a:active,
.pagination > .active > a:focus {
    background: #e67e22;
    border-color: #d35400;
}

.help-text {
    margin-top: 5%;
    background-color: #eee;
    border-color: #b9b9b9;
    color: #555;
}

.label-fixed-width {
    display: inline-block;
    min-width: 65px;
}

p.tags-label {
    margin: 0px 10px 0px 0px;
    padding: 0;
    float: left;
    display: inline-block;
}

ul.tag-list {
    margin: 0;
    padding: 0;
    float: left;
    display: inline-block;
}

ul.tag-list li {
    margin: 0px 10px 0px 0px;
    padding: 0 0;
    list-style-type: none;
    float: left;
}

ul.tag-list li a {
    display: inline-block;
    text-decoration: none;
    float: left;
}

ul.post-list {
    margin: 0px;
    padding: 0px;
}

ul.post-list li {
    list-style-type: none;
    margin: 30px 0px 10px 0px;
}

ul.post-list li a {
    display: block;
    text-decoration: none;
    border: 1px solid #eee;
}

ul.post-list li a:hover {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #eee;
}

ul.post-list p.recent-post-title {
    display: block;
    background: #eee;
    padding: 10px 20px 10px 20px;
    font-size: 1.3em;
}

ul.post-list p.post-intro-preview {
    display: block;
    padding: 5px 20px 10px 20px;
    background: #fff;
    margin: 5px 0px;
}
ul.dropdown-menu li a.active {
    background: #c9d5e1;
}
