{
  "openapi": "3.0.0",
  "info": {
    "title": "Ciphersuite.info API",
    "description": "NOTE: You are accessing a pre-release version of the APIv2 by ciphersuite.info. Although we are trying to avoid major changes, API end points may still be subject to change without prior notice for the time being.",
    "version": "2.0.0-rc1",
    "contact": {
      "email": "info@ciphersuite.info"
    },
    "license": {
      "name": "MIT License",
      "url": "https://github.com/hcrudolph/ciphersuite.info/blob/master/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://ciphersuite.info/api/v2"
    }
  ],
  "tags": [
    {
      "name": "Ciphersuites",
      "description": "API end points primarily related to TLS ciphersuites"
    },
    {
      "name": "RFCs",
      "description": "API end points primarily related to ciphersuite-related RFCs"
    },
    {
      "name": "Vulnerabilities",
      "description": "API end points primarily related to ciphersuite vulnerabilities"
    },
    {
      "name": "Algorithms",
      "description": "API end points primarily related to ciphersuite algorithms"
    }
  ],
  "paths": {
    "/cs": {
      "get": {
        "tags": [
          "Ciphersuites"
        ],
        "description": "Get a list of all TLS ciphersuites.",
        "operationId": "getAllCs",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ciphersuite"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No ciphersuites found."
          }
        }
      }
    },
    "/cs/{cs_name}": {
      "get": {
        "tags": [
          "Ciphersuites"
        ],
        "description": "Get a single TLS ciphersuite by its IANA name.",
        "operationId": "getCsByName",
        "parameters": [
          {
            "in": "path",
            "name": "cs_name",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ciphersuite"
                }
              }
            },
            "links": {
              "Vulnerabilities by Ciphersuite Name": {
                "operationId": "getVulnByCsName",
                "parameters": {
                  "cs_name": "$response.body#/iana_name"
                }
              },
              "Ciphersuites by Security": {
                "operationId": "getCsBySecurity",
                "parameters": {
                  "level": "$response.body#/security"
                }
              }
            }
          },
          "404": {
            "description": "Ciphersuite does not exist."
          }
        }
      }
    },
    "/cs/tls/{tls_version}": {
      "get": {
        "tags": [
          "Ciphersuites"
        ],
        "description": "Get a list of TLS ciphersuites by TLS version.",
        "operationId": "getCsByTlsversion",
        "parameters": [
          {
            "in": "path",
            "name": "tls_version",
            "schema": {
              "type": "integer",
              "enum": [
                10,
                11,
                12,
                13
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ciphersuite"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Illegal TLS version."
          },
          "404": {
            "description": "No ciphersuites found."
          }
        }
      }
    },
    "/cs/security/{level}": {
      "get": {
        "tags": [
          "Ciphersuites"
        ],
        "description": "Get a list of TLS ciphersuites by security level.",
        "operationId": "getCsBySecurity",
        "parameters": [
          {
            "in": "path",
            "name": "level",
            "schema": {
              "type": "string",
              "enum": [
                "insecure",
                "weak",
                "secure",
                "recommended"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ciphersuite"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Illegal security rating."
          },
          "404": {
            "description": "No ciphersuites found."
          }
        }
      }
    },
    "/cs/software/{library}": {
      "get": {
        "tags": [
          "Ciphersuites"
        ],
        "description": "Get a list of TLS ciphersuites by software library.",
        "operationId": "getCsBySoftware",
        "parameters": [
          {
            "in": "path",
            "name": "library",
            "schema": {
              "type": "string",
              "enum": [
                "openssl",
                "gnutls"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ciphersuite"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Illegal software library."
          },
          "404": {
            "description": "No ciphersuites found."
          }
        }
      }
    },
    "/cs/{algo_type}/{search_term}": {
      "get": {
        "tags": [
          "Ciphersuites"
        ],
        "description": "Search TLS ciphersuites by their associated algorithms. Requires the algorithm type to be specified.",
        "operationId": "getCsByAlgorithm",
        "parameters": [
          {
            "in": "path",
            "name": "algo_type",
            "schema": {
              "type": "string",
              "enum": [
                "keyx",
                "auth",
                "encr",
                "hash"
              ]
            },
            "required": true
          },
          {
            "in": "path",
            "name": "search_term",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ciphersuite"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Illegal algorithm type."
          },
          "404": {
            "description": "No ciphersuites found."
          }
        }
      }
    },
    "/rfc": {
      "get": {
        "tags": [
          "RFCs"
        ],
        "description": "Get a list of all RFCs that define TLS ciphersuites.",
        "operationId": "getAllRfc",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rfc"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rfc/{number}": {
      "get": {
        "tags": [
          "RFCs"
        ],
        "description": "Get a single RFC by its number.",
        "operationId": "getRfcByNum",
        "parameters": [
          {
            "in": "path",
            "name": "number",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rfc"
                }
              }
            }
          },
          "404": {
            "description": "RFC does not exist."
          }
        }
      }
    },
    "/algo": {
      "get": {
        "tags": [
          "Algorithms"
        ],
        "description": "Get a list of all Algorithms.",
        "operationId": "getAllAlgo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlgorithmAlt"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No algorithms found."
          }
        }
      }
    },
    "/algo/type/{algo_type}": {
      "get": {
        "tags": [
          "Algorithms"
        ],
        "description": "Get a list of all Algorithms of a certain type.",
        "operationId": "getAlgoByType",
        "parameters": [
          {
            "in": "path",
            "name": "algo_type",
            "schema": {
              "type": "string",
              "enum": [
                "keyx",
                "auth",
                "encr",
                "hash"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Algorithm"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Illegal algorithm type."
          },
          "404": {
            "description": "No algorithm found."
          }
        }
      }
    },
    "/algo/sev/{severity}": {
      "get": {
        "tags": [
          "Algorithms"
        ],
        "description": "Get a list of all Algorithms with vulnerabilities of a certain severity. Requires the algorithm type to be specified.",
        "operationId": "getAlgoByVuln",
        "parameters": [
          {
            "in": "path",
            "name": "severity",
            "schema": {
              "type": "string",
              "enum": [
                "low",
                "medium",
                "high"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Algorithm"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Illegal severity rating."
          },
          "404": {
            "description": "No algorithm found."
          }
        }
      }
    },
    "/vuln": {
      "get": {
        "tags": [
          "Vulnerabilities"
        ],
        "description": "Get a list of all Vulnerabilities.",
        "operationId": "getAllVuln",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Vulnerability"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No vulnerabilities found."
          }
        }
      }
    },
    "/vuln/{vuln_name}": {
      "get": {
        "tags": [
          "Vulnerabilities"
        ],
        "description": "Get a single Vulnerability by its name.",
        "operationId": "getVulnByName",
        "parameters": [
          {
            "in": "path",
            "name": "vuln_name",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vulnerability"
                }
              }
            },
            "links": {
              "Vulnerability by Severity": {
                "operationId": "getVulnBySeverity",
                "parameters": {
                  "severity": "$response.body#/severity"
                }
              }
            }
          },
          "404": {
            "description": "Vulnerability does not exist."
          }
        }
      }
    },
    "/vuln/cs/{cs_name}": {
      "get": {
        "tags": [
          "Vulnerabilities"
        ],
        "description": "Get a list of vulnerabilities associated to a certain TLS ciphersuite.",
        "operationId": "getVulnByCsName",
        "parameters": [
          {
            "in": "path",
            "name": "cs_name",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Vulnerability"
                  }
                }
              }
            },
            "links": {
              "Vulnerability by Name": {
                "operationId": "getVulnByName",
                "parameters": {
                  "vuln_name": "$response.body#/vulnerabilities/name"
                }
              },
              "Vulnerability by Severity": {
                "operationId": "getVulnBySeverity",
                "parameters": {
                  "severity": "$response.body#/vulnerabilities/severity"
                }
              }
            }
          },
          "404": {
            "description": "Ciphersuite does not exist."
          }
        }
      }
    },
    "/vuln/sev/{severity}": {
      "get": {
        "tags": [
          "Vulnerabilities"
        ],
        "description": "Get a list of vulnearbilities by severity.",
        "operationId": "getVulnBySeverity",
        "parameters": [
          {
            "in": "path",
            "name": "severity",
            "schema": {
              "type": "string",
              "enum": [
                "low",
                "medium",
                "high"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Vulnerability"
                  }
                }
              }
            },
            "links": {
              "Vulnerability by Name": {
                "operationId": "getVulnByName",
                "parameters": {
                  "vuln_name": "$response.body#/vulnerabilities/name"
                }
              }
            }
          },
          "400": {
            "description": "Illegal severity rating."
          },
          "404": {
            "description": "No vulnerabilities found."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Ciphersuite": {
        "type": "object",
        "properties": {
          "iana_name": {
            "type": "string"
          },
          "gnutls_name": {
            "type": "string"
          },
          "openssl_name": {
            "type": "string"
          },
          "version": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "TLS1.0",
                "TLS1.1",
                "TLS1.2",
                "TLS1.3"
              ]
            }
          },
          "hex_byte_1": {
            "type": "string"
          },
          "hex_byte_2": {
            "type": "string"
          },
          "kex_algorithm": {
            "type": "string"
          },
          "auth_algorithm": {
            "type": "string"
          },
          "enc_algorithm": {
            "type": "string"
          },
          "hash_algorithm": {
            "type": "string"
          },
          "security": {
            "type": "string",
            "enum": [
              "insecure",
              "weak",
              "secure",
              "recommended"
            ]
          }
        }
      },
      "Rfc": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "release_year": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "status": {
            "type": "string",
            "enum": [
              "IST",
              "PST",
              "DST",
              "BCP",
              "INF",
              "EXP",
              "HST",
              "UND"
            ]
          },
          "is_draft": {
            "type": "boolean"
          },
          "defined_cipher_suites": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Vulnerability": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "severity": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high"
            ]
          }
        }
      },
      "Algorithm": {
        "type": "object",
        "properties": {
          "short_name": {
            "type": "string"
          },
          "long_name": {
            "type": "string"
          },
          "vulnerabilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AlgorithmAlt": {
        "type": "object",
        "properties": {
          "short_name": {
            "type": "string"
          },
          "long_name": {
            "type": "string"
          },
          "vulnerabilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "algorithm_type": {
            "type": "string"
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "Git repository",
    "url": "https://github.com/hcrudolph/ciphersuite.info"
  }
}