$default-font:      'Open Sans Regular', sans-serif;
$heading-bold:      'Roboto Bold', sans-serif;
$heading-semibold:  'Roboto Medium', sans-serif;

$primary:           #fd7e14;
$primary-superlight:#fee1b0;
$primary-light:     #fda514;
$primary-dark:      #fd5714;
$background:        #ffffff;
$background-alt:    #eeeeee;

@import "bootstrap";

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: $default-font;
    margin-bottom: 50px;
}

main.container {
    height: 100%;
    margin: 0px auto 150px auto;
}

body > .container {
    padding: 40px 15px 0px;
}

h1,
h2,
h3,
h4 {
    font-family: $heading-bold;
}

a {
    color: $gray-900;
}

a:hover {
    color: $gray-800;
}

::selection {
    background: $gray-800;
    color: #ffffff;
}

::-moz-selection {
    background: $gray-800;
    color: #ffffff;
}

.centered-text {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.small {
    font-size: .8em;
}

.light {
    filter: brightness(120%);
}

.dark {
    filter: brightness(80%);
}

.nowrap {
    white-space: nowrap;
}

.post-intro {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

.title-heading {
    font-size: 4em;
    margin-top: 7.5%;
    margin-bottom: 7.5%;
}

.borderless table,
.borderless td,
.borderless th {
    border: none !important;
}

.rfclist {
    padding: 0px;
}

.rfclist li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.prettylist {
    margin-top: 30px;
    padding: 0px;
}

.prettylist li:nth-child(even) {
    background: $background;
}

.prettylist li:nth-child(odd) {
    background: $background-alt;
}

.prettylist li {
    list-style-type: none;
    font-size: 1.05em;
}

.prettylist li:hover {
    background: $primary-superlight;
}

.prettylist li a {
    display: block;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.minimallist {
    padding: 0px;
    margin-left: 14px;
}

.minimallist li {
    padding-bottom: 5px;
    list-style-type: circle;
    font-size: 1.05em;
}

dt {
    text-align: left !important;
    font-family: $heading-semibold;
}

dt,
dd {
    padding-bottom: 5px;
}

.text-secure {
    color: #009a00;
}

.bg-secure {
    background: #009a00;
    color: #fff;
}

.bi{
    font-size: 1.25em;
    vertical-align: .175em;
}

.break-all {
    word-break: break-all;
}

.dropdown:hover >.dropdown-menu {
    display: block;
}

.dropdown-submenu:hover > .dropdown-menu{
    display: block;
    left: 100%;
    margin-top: -37px;
}

dt {
    font-weight: bold;
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: $background-alt;
}

code {
    font-size: 80%;
}

.form-control:focus {
    border-color: $primary-dark;
    box-shadow: none;
}

.pagination > li > a {
    color: #888;
}

.pagination > li > a:hover {
    background: $primary-superlight;
    color: #888;
}

.pagination > li.active > a {
    background: $primary-light;
    border-color: $primary-dark;
}

.bg-fixed-width {
    display: inline-block;
    min-width: 65px;
}

p.tags-label {
    margin: 0px 10px 0px 0px;
    padding: 0px;
    float: left;
}

ul.tag-list {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

ul.tag-list li {
    margin: 0px 10px 0px 0px;
    padding: 0px;
    list-style-type: none;
    float: left;
}

ul.tag-list li a {
    float: left;
    text-decoration: none;
}

ul.post-list {
    margin: 0px;
    padding: 0px;
}

ul.post-list li {
    list-style-type: none;
    margin: 30px 0px 10px 0px;
}

ul.post-list li a {
    display: block;
    text-decoration: none;
    border: 1px solid #eee;
}

ul.post-list li a:hover {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #eee;
}

ul.post-list p.recent-post-title {
    display: block;
    background: #eee;
    padding: 10px 20px 10px 20px;
    font-size: 1.3em;
}

ul.post-list p.post-intro-preview {
    display: block;
    padding: 5px 20px 10px 20px;
    background: #fff;
    margin: 5px 0px;
}

.dropdown-menu > a.dropdown-item:hover {
    background: $primary-superlight;
}