asgiref
brotlipy
certifi
cffi
chardet
charset-normalizer
dj-database-url
Django
django-appconf
django-compressor
django-markdownx
django-otp
django-sass-processor
idna
importlib-metadata
libsass
lxml
Markdown
Pillow
psycopg2-binary
pycparser
pypng
PyYAML
qrcode
rcssmin
requests
rjsmin
sqlparse
typing_extensions
urllib3
whitenoise
zipp