asgiref==3.7.2
brotlipy==0.7.0
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
dj-database-url==2.1.0
Django==4.2.5
django-appconf==1.0.5
django-compressor==4.4
django-markdownx==4.0.2
django-otp==1.2.2
django-sass-processor==1.2.2
idna==3.4
importlib-metadata==6.8.0
libsass==0.22.0
lxml==4.9.3
Markdown==3.4.4
Pillow==10.0.1
psycopg2-binary==2.9.9
pycparser==2.21
pypng==0.20220715.0
PyYAML==6.0.1
qrcode==7.4.2
rcssmin==1.1.1
requests==2.31.0
rjsmin==1.2.1
sqlparse==0.4.4
typing_extensions==4.8.0
urllib3==2.0.6
whitenoise==6.5.0
zipp==3.17.0
