asgiref
brotlipy
certifi
cffi
chardet
charset-normalizer
coverage
dj-database-url
Django
django-appconf
django-compressor
django-markdownx
django-otp
django-sass-processor
idna
importlib-metadata
iniconfig
libsass
lxml
Markdown
packaging
Pillow
pluggy
psycopg2-binary
pycparser
pytest
PyYAML
qrcode
rcssmin
requests
rjsmin
sqlparse
tomli
urllib3
whitenoise
zipp
