asgiref==3.6.0
brotlipy==0.7.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.0.0
charset-normalizer==3.1.0
dj-database-url==2.0.0
Django==4.2.1
django-appconf==1.0.5
django-compressor==4.3.1
django-markdownx==4.0.2
django-otp==1.1.4
django-sass-processor==1.2.2
idna==3.4
importlib-metadata==5.0.0
libsass==0.22.0
lxml==4.9.2
Markdown==3.4.3
Pillow==9.5.0
psycopg2-binary==2.9.4
pycparser==2.21
pytz==2022.5
PyYAML==6.0
qrcode==7.3.1
rcssmin==1.1.1
requests==2.28.1
rjsmin==1.2.1
six==1.16.0
sqlparse==0.4.4
urllib3==1.26.12
whitenoise==6.4.0
zipp==3.15.0
