asgiref==3.8.1
brotlipy==0.7.0
certifi==2024.8.30
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
dj-database-url==2.3.0
Django==5.0.6
django-appconf==1.0.6
django-compressor==4.4
django-markdownx==4.0.7
django-otp==1.5.0
django-sass-processor==1.4.1
idna==3.7
importlib_metadata==7.1.0
iniconfig==2.0.0
libsass==0.23.0
lxml==5.3.0
Markdown==3.6
packaging==24.1
pillow==10.3.0
pluggy==1.5.0
psycopg2-binary==2.9.9
pycparser==2.22
pypng==0.20220715.0
PyYAML==6.0.1
qrcode==7.4.2
rcssmin==1.1.1
requests==2.31.0
rjsmin==1.2.1
sqlparse==0.5.0
tomli==2.0.1
typing_extensions==4.12.0
urllib3==2.2.3
whitenoise==6.6.0
zipp==3.18.2
